html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}

*{
  box-sizing: border-box;
}
  
body {
  font-family: 'Hiragino Kaku Gothic ProN W3', sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}
header{
  background-image: url(https://www.pakutaso.com/shared/img/thumb/006YAT0404_TP_V.jpg);
  opacity: 0.7;
  height:42px;
}

.container{
  width;1170px;
  margin: 0 auto;
}
.container h1{
  padding-top: 0px 15px;
  float:left;
}

.container input{
  margin-top: 8px;
  margin-left: 5px;
  margin-right: 15px;
}
.container input{
 float:right;
}

.search{
  height:52%;
}

.container .menu{
  padding: 20px 0px;
  text-align: center;
  width: 25%;
  float:left;
  background-color: rgba(0, 0, 0, 0.71);
}

.menu a{
  color: white;
  display: block;
}

.pc{
  width:100%;
  height:400px;
}

.main{
  float: left;
}

.none{
  width: 30%;

}

.text-zone{
  width: 40%;
  border: 1px solid rgba(1,1,1,0.1);
  box-shadow: 1px 3px rgba(1,1,1,0.1);
  display:block;
  text-align: center;
}

.text-zone h2{
  font-size: 32px;
  padding: 20px 30px;
}

.pickup{
  width: 29%;
}

.time{
  float:right;
  padding-right: 100px;
  color:rgba(1,1,1,0.5);
}

.text {
  text-align: center;
}
